# auto normal
* text=auto

# txt file
*.cs             text diff=csharp
*.xaml           text
*.config         text
*.csproj         text
*.sln            text eol=crlf
*.edmx           text
*.tt             text
*.resx           text
*.md             text
*.gitignore      text
*.gitattributes  text

# bin file 
*.png   binary
*.jpg   binary
*.jpeg  binary
*.ico   binary
*.dll   binary
*.exe   binary
*.pdb   binary
*.snk   binary