# auto normal
* text=auto

# txt file
*.cs text eol=lf 
*.xaml text eol=lf
*.config         text
*.csproj text eol=lf
*.sln text eol=lf
*.edmx           text
*.tt             text
*.resx           text
*.md             text
*.gitignore      text
*.gitattributes  text

# bin file 
*.png   binary
*.jpg   binary
*.jpeg  binary
*.ico   binary
*.dll   binary
*.exe   binary
*.pdb   binary
*.snk   binary